input {
    outline: 1px solid transparent;
    padding: 8px 8px;
    font-size: inherit;
    background: transparent;
    color: rgba(223, 223, 214, 0.6);
    border: 1px solid rgba(255, 255, 255, 0.253);
    border-radius: 5px;
    transition: all 0.2s;
}

input:focus {
    outline-color: #7bc5e4;
}

input:focus::placeholder {
    color: rgba(223, 223, 214, 0.6);
}

input::placeholder {
    color: rgba(223, 223, 214, 0.6);
    opacity: 1;
}